.my-user {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(60, 60, 60);
    color: white;
}

.online-status {
    background-color: green;
    width: 10px;
    height: 10px;
    border: none;
    border-radius: 100%;
    outline-style: none;
}

.offline-status {
    background-color: red;
    width: 10px;
    height: 10px;
    border: none;
    border-radius: 100%;
    outline-style: none;
}

.online-status:hover {
    cursor: pointer;
}

.offline-status:hover {
    cursor: pointer;
}

.label {
    background-color: rgb(60, 60, 60);
    color: white;
    height: 30px;
    margin-bottom: 2px;
}

.button-choice {
    border: none
}

.button-remove {
    border: none;
}

.button-remove:hover {
    background-color: rgb(60, 60, 60);
    color: white;
}

.send-button {
    height: 40px;
    width: 100%;
    border: none;
    background-color: rgb(60, 60, 60);
    color: white;
}

.send-button:hover {
    cursor: pointer;
}

.send-button:disabled {
    background-color: lightgray;
    cursor: not-allowed;
}

.mess {
    width: 100%;
}

.text {
    white-space: pre-wrap;
}

.offline {
    opacity: 0.5;
}

.chat-witch-friend {
    text-align: center;
    width: 250px;
    height: 400px;
    overflow: auto;
}

.add-friend {
    margin-top: 20px;
    width: 100%;
}

::ng-deep.mat-form-field-underline {
    background-color: lightgray !important;
}

mat-placeholder {
    color: lightgray;
}