.center {
    text-align: center;
}

.captcha {
    margin-left: 42%;
    margin-right: 42%;
}

.kanban {
    background: url(https://cdn.pixabay.com/photo/2017/01/25/08/11/unicorn-2007266_960_720.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    width: 800px;
    height: 700px;
    margin: auto;
}

.center {
    min-height: 100%;
    height: auto;
    min-width: 100%;
    width: auto;
    background: linear-gradient(to right, red, orange, yellow, lime, blue, purple, fuchsia);
}