<div class="center">
    <div *ngIf="verifyMailOrPasswordReset()">
        <button mat-stroked-button color="primary" (click)="emailVerificate()"> Click by verification mail!</button>
    </div>
    <div *ngIf="!verifyMailOrPasswordReset()">
        <h1>RESET YOUR PASSWORD</h1>
        <form (ngSubmit)="resetUserPassword(passwordForm)" #passwordForm="ngForm">
            <div ngModelGroup="reset">
                <div>
                    <mat-form-field>
                        <p><input matInput [type]="hide ? 'password' : 'text'" placeholder="Password" #newPassword="ngModel" name="newPassword" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" ngModel></p>
                        <mat-error>Wrong Password - Passsword must contain at least 8 charactes, including UPPER/lowercase and numbers</mat-error>
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    </mat-form-field>
                </div>
                <br>
                <br>
                <div>
                    <mat-form-field>
                        <p><input matInput [type]="hide ? 'password' : 'text'" placeholder="Re-enter Password" required name="newRepeatPassword" ngModel></p>
                        <mat-error>Repeat Password is Mandatory</mat-error>
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    </mat-form-field>
                </div>
            </div>
            <br>
            <button mat-stroked-button color="primary" type="submit">Update your password!</button>
        </form>
        {{info}}
    </div>
</div>