<div class="center">
    <h1 mat-dialog-title *ngIf="!data.addTable">Update your table title!</h1>
    <h1 mat-dialog-title *ngIf="data.addTable">Add your table</h1>
    <div mat-dialog-content>
        <div class="updateTitle">
            <form #updateTitleForm="ngForm">
                <div ngModelGroup="titleTable">
                    <mat-form-field>
                        <p><input matInput type="text" placeholder="Title" [(ngModel)]="data.title" required name="title" ngModel></p>
                        <mat-error>Title is Mandatory</mat-error>
                    </mat-form-field>
                </div>
            </form>
        </div>
    </div>
    <div mat-dialog-actions>
        <button mat-button [mat-dialog-close]="undefined">Cancel</button>
        <button mat-button [mat-dialog-close]="updateTitleForm" [disabled]="updateTitleForm.invalid" *ngIf="!data.addTable" cdkFocusInitial>Update Title</button>
        <button mat-button [mat-dialog-close]="updateTitleForm" [disabled]="updateTitleForm.invalid" *ngIf="data.addTable" cdkFocusInitial>Add table</button>
    </div>
</div>