<div class="center">
    <h1 mat-dialog-title>Add your category</h1>
    <div mat-dialog-content>
        <div class="addCategory">
            <form #categoryForm="ngForm">
                <div ngModelGroup="category">
                    <mat-form-field>
                        <p><input matInput type="text" placeholder="Category" required name="category" ngModel></p>
                        <mat-error>Category is Mandatory</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput name="color" [(ngModel)]="color" value="{{color}}" [style.background]="color" [cpCancelButton]="true" [cpOKButton]="true" [cpSaveClickOutside]="false" [cpCancelButtonClass]="'btn btn-primary btn-xs'" [cpOKButtonClass]="'btn btn-primary btn-xs'"
                            [(colorPicker)]="color">
                    </mat-form-field>
                </div>
            </form>
        </div>
    </div>
    <div mat-dialog-actions>
        <button mat-button [mat-dialog-close]="undefined">Cancel</button>
        <button mat-button [mat-dialog-close]="categoryForm" [disabled]="categoryForm.invalid" cdkFocusInitial>Add Category</button>
    </div>

</div>