<div class="center">
    <h1 mat-dialog-title>Add your task</h1>
    <div mat-dialog-content>
        <div class="addTask">
            <form #taskForm="ngForm">
                <div ngModelGroup="task">
                    <mat-form-field>
                        <p><input matInput type="text" placeholder="Title" required name="title" ngModel></p>
                        <mat-error>Title is Mandatory</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <textarea matInput placeholder="Description" name="description" ngModel cdkAutosizeMinRows="1" cdkAutosizeMaxRows="10"></textarea>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Priority: </mat-label>
                        <mat-select name="priority" ngModel>
                            <mat-option value="-">-</mat-option>
                            <mat-option style="background-color:yellow" value="yellow">Low</mat-option>
                            <mat-option style="background-color:purple" value="purple">Medium</mat-option>
                            <mat-option style="background-color:darkred" value="darkred">High</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Category: </mat-label>
                        <mat-select name="color" ngModel>
                            <mat-option *ngFor="let item of category" [style.backgroundColor]="item.color" value="{{item.color}}">{{item.category}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="End date" name="endDate" ngModel [matDatepickerFilter]="myFilter" [matDatepicker]="picker1">
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field>
                </div>
            </form>
        </div>
    </div>
    <div mat-dialog-actions>
        <button mat-button [mat-dialog-close]="undefined">Cancel</button>
        <button mat-button [mat-dialog-close]="taskForm" [disabled]="taskForm.invalid" cdkFocusInitial>Add Task</button>
    </div>
</div>