.main-content {
    width: 100%;
    height: auto;
    min-height: 100%;
    text-align: center;
}

.mat-input-element {
    color: rgb(60, 60, 60);
}

th.mat-header-cell {
    text-align: center;
}

button {
    width: 70%;
    border: none;
    background-color: white;
    outline: none;
}

button:hover {
    cursor: pointer;
}

img {
    width: 25px;
    height: 25px;
}

table {
    width: 100%;
    background-color: white;
    border-top: rgb(60, 60, 60) 3px solid;
    border-bottom: rgb(60, 60, 60) 3px solid;
}

th {
    border: rgb(60, 60, 60) 1px solid;
}

th:hover {
    background: rgb(60, 60, 60) !important;
}

th:hover button {
    background: rgb(60, 60, 60) !important;
    color: white;
}

td {
    border: rgb(60, 60, 60) 1px solid;
}

td:hover {
    background: rgb(60, 60, 60) !important;
    color: white;
}

.titleType {
    width: 33%;
}

.titleData {
    width: 33%;
}

.titleDesc {
    width: 34%;
}