<div class="mainContent" [style.background]="background" [style.color]="fontColor">
    <app-menu></app-menu>
    <h1>Welcome to logs!</h1>
    <mat-form-field class="backgroundInput">
        <input matInput (keyup)="applyFilter($event.target.value)">
        <mat-placeholder style="color:blue">Filter</mat-placeholder>
    </mat-form-field>
    <p></p>
    <div class="tableClass">
        <table mat-table [dataSource]="dataLogs" class="mat-elevation-z8">
            <ng-container matColumnDef="type">
                <th class="titleType" mat-header-cell *matHeaderCellDef [style.background]="background" [style.color]="fontColor">

                    <button [style.background]="background" [style.color]="fontColor" class="button" (click)="sortByType()"> 
                        <mat-grid-list cols="2">
                       <mat-grid-tile>Type</mat-grid-tile>  
                           <mat-grid-tile> <img *ngIf="imgSort[0]" src={{imgSort[0]}}></mat-grid-tile>
                           
                          </mat-grid-list>
                       </button>
                </th>
                <td mat-cell *matCellDef="let element" [style.background]="background" [style.color]="fontColor"> {{element.type}} </td>
            </ng-container>
            <ng-container matColumnDef="data">
                <th class="titleData" mat-header-cell *matHeaderCellDef [style.background]="background" [style.color]="fontColor">
                    <button [style.background]="background" [style.color]="fontColor" class="button" (click)="sortByDate()">
                        <mat-grid-list cols="2">
                           <mat-grid-tile>Date</mat-grid-tile> 
                             <mat-grid-tile> <img *ngIf="imgSort[1]" src={{imgSort[1]}}></mat-grid-tile>
                          </mat-grid-list>   
                        </button>
                </th>
                <td mat-cell *matCellDef="let element" [style.background]="background" [style.color]="fontColor"> {{element.data}} </td>
            </ng-container>
            <ng-container matColumnDef="description">
                <th class="titleDesc" mat-header-cell *matHeaderCellDef [style.background]="background" [style.color]="fontColor">
                    <button [style.background]="background" [style.color]="fontColor" class="button" (click)="sortByDescription()">
                        <mat-grid-list cols="2">
                         <mat-grid-tile>Desc</mat-grid-tile>  
                        <mat-grid-tile> <img *ngIf="imgSort[2]" src={{imgSort[2]}}></mat-grid-tile>
                          </mat-grid-list>
                        </button>
                </th>
                <td mat-cell *matCellDef="let element" [style.background]="background" [style.color]="fontColor"> {{element.description}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>