.mainContent {
    width: 100%;
    height: auto;
    min-height: 100%;
    text-align: center;
}

.mat-input-element {
    color: blue;
}

::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: blue !important;
}

th.mat-header-cell {
    text-align: center;
}

button {
    width: 70%;
    border: none;
    background-color: white;
    outline: none;
}

button:hover {
    cursor: pointer;
}

img {
    width: 25px;
    height: 25px;
}

table {
    width: 100%;
    background-color: white;
    border-top: blue 3px solid;
    border-bottom: blue 3px solid;
}

th {
    border: blue 1px solid;
}

td {
    border: blue 1px solid;
}

.titleType {
    width: 33%;
}

.titleData {
    width: 33%;
}

.titleDesc {
    width: 34%;
}