<div class="mainContent" *ngFor="let item of userInfo" [style.background]="changeBackground()" [style.color]="changeFont()">
    <button mat-stroked-button color="primary" (click)="logout()">LOGOUT</button>
    <button mat-stroked-button color="primary" (click)="return()">Return to previous page</button>
    <h1>Welcome to logs!</h1>
    <h1>LOGS</h1>
    <mat-form-field class="backgroundInput">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
    <p></p>
    <div class="tableClass">
        <table mat-table [dataSource]="dataLogs" class="mat-elevation-z8">
            <ng-container matColumnDef="operation">
                <th mat-header-cell *matHeaderCellDef [style.background]="changeBackground()" [style.color]="changeFont()"> Operation </th>
                <td mat-cell *matCellDef="let element" [style.background]="changeBackground()" [style.color]="changeFont()"> {{element.type}} </td>
            </ng-container>
            <ng-container matColumnDef="data">
                <th mat-header-cell *matHeaderCellDef [style.background]="changeBackground()" [style.color]="changeFont()"> Data </th>
                <td mat-cell *matCellDef="let element" [style.background]="changeBackground()" [style.color]="changeFont()"> {{element.data}} </td>
            </ng-container>
            <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef [style.background]="changeBackground()" [style.color]="changeFont()"> Description </th>
                <td mat-cell *matCellDef="let element" [style.background]="changeBackground()" [style.color]="changeFont()"> {{element.description}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>