.mainContent {
    width: 100%;
    height: auto;
    min-height: 100%;
    text-align: center;
}

.form {
    background: white;
    width: auto;
}

.tableClass {
    margin-left: 40%;
    margin-right: 40%;
    width: 20%;
}

table {
    width: 100%;
}

.best {
    width: 99.9%;
    height: 10%;
    border: none;
}

.buttonRemove {
    color: black;
    width: 10%;
    height: 100%;
    border: none;
}

.addButton {
    border: none;
}

.backgroundInput {
    background: white;
}