<div class="mainContent" *ngFor="let item of userInfo" [style.background]="background" [style.color]="fontColor">
    <app-menu></app-menu>
    <div class="settings-container">
        <div class="settings-header">
            <div class="settings-content">
                <h4>Settings</h4>
            </div>
        </div>
        <div *ngIf="!userInfo[0].google" class="settings">
            <div class="settings-content">
                <h5> Email verification</h5>
                <p> If you want to send a verification email you are in the right place</p>
            </div><button class="button-settings" (click)="seeSettings(0)">{{see[0].text}}</button>
            <div *ngIf="see[0].see" class="settings-form">
                <hr>
                <p>Your email: {{item.email}}</p>
                <p *ngIf="!verifyEmail">Please verify your email and refresh website!</p>
                <p *ngIf="verifyEmail">Your email is verified</p>
                <button class="button" *ngIf="!verifyEmail" (click)="sendRepeatVerificationEmail()"> Re-send verification e-mail </button>
            </div>
        </div>
        <div *ngIf="!userInfo[0].google" class="settings">
            <div class="settings-content">
                <h5>Change email</h5>
                <p>If you start use new email, you can change!</p>
            </div><button class="button-settings" (click)="seeSettings(1)">{{see[1].text}}</button>
            <div *ngIf="see[1].see" class="settings-form">
                <hr>
                <form (ngSubmit)="updateEmail(emailForm.value)" #emailForm="ngForm">
                    <div>
                        <mat-form-field>
                            <input matInput type="text" required name="oldEmail" ngModel>
                            <mat-placeholder style="color:lightgray;">Old Email</mat-placeholder>
                            <mat-error>Old mail is Mandatory</mat-error>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field>
                            <input matInput type="text" required name="newEmail" pattern="[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$" ngModel>
                            <mat-placeholder style="color:lightgray;">New Email</mat-placeholder>
                            <mat-error>Email is Mandatory</mat-error>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field>
                            <input matInput type="text" required name="newRepeatEmail" pattern="[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$" ngModel>
                            <mat-placeholder style="color:lightgray; ">New Repeat Email</mat-placeholder>
                            <mat-error>New Repeat Email is Mandatory</mat-error>
                        </mat-form-field>
                    </div>
                    <button type="submit" class="button" [disabled]="emailForm.invalid">Update your email!</button>
                </form>
                <p id="emailInfo"></p>
            </div>

        </div>
        <div *ngIf="!userInfo[0].google" class="settings">
            <div>
                <div class="settings-content">
                    <h5> Change password</h5>
                    <p>It's a good idea to use a strong password that you don't use elsewhere </p>
                </div><button class="button-settings" (click)="seeSettings(2)">{{see[2].text}}</button>
                <div *ngIf="see[2].see" class="settings-form">
                    <hr>
                    <p>Passsword must contain at least 8 charactes, including UPPER/lowercase and numbers :)</p>
                    <br>
                    <form (ngSubmit)="updatePassword(passwordForm.value)" #passwordForm="ngForm">
                        <div>
                            <mat-form-field>
                                <input matInput [type]="hide ? 'password' : 'text'" required name="oldPassword" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" ngModel>
                                <mat-placeholder style="color:lightgray; ">Old Password</mat-placeholder>
                                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                    <mat-icon style="color:lightgray;">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>
                                <br>
                                <br>
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field>
                                <p><input matInput [type]="hide ? 'password' : 'text'" required name="newPassword" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" ngModel></p>
                                <mat-placeholder style="color:lightgray;">New Password</mat-placeholder>
                                <mat-error>Wrong New Password </mat-error>
                                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                        <mat-icon style="color:lightgray; ">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field>
                                <input matInput [type]="hide ? 'password' : 'text'" required name="newRepeatPassword" ngModel>
                                <mat-placeholder style="color:lightgray; ">New Repeat Password</mat-placeholder>
                                <mat-error>Wrong New Re-enter Password</mat-error>
                                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                    <mat-icon style="color:lightgray; ">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>
                            </mat-form-field>
                        </div>
                        <button class="button" [disabled]="passwordForm.invalid" type="submit">Update your password!</button>
                    </form>
                    <p>
                        Do not you remember the password? </p> <button class="reset-button" (click)="resetPassword()">Reset password</button>
                    <p id="passInfo"></p>
                </div>
            </div>
        </div>
        <div class="settings">
            <div>
                <div class="settings-content">
                    <h5> Change color thema</h5>
                    <p> If you want to change the page theme then you are in the right place </p>
                </div><button class="button-settings" (click)="seeSettings(3)">{{see[3].text}}</button>
                <div *ngIf="see[3].see" class="settings-form">
                    <hr>
                    <p>Actual color scheme: {{item.thema}}</p>
                    <form (ngSubmit)="updateThema(themaForm.value)" #themaForm="ngForm">
                        <div>
                            <mat-form-field>
                                <mat-select name="thema" ngModel>
                                    <mat-option style="background-color:white; color:black;" value="white">White</mat-option>
                                    <mat-option style="background-color:gray; color:white;" value="gray">Gray</mat-option>
                                    <mat-option style="background-color:black; color:white;" value="black">Black</mat-option>
                                </mat-select>
                                <mat-placeholder style="color:lightgray;">{{background}}</mat-placeholder>
                            </mat-form-field>
                        </div>
                        <button class="button" [disabled]="!themaForm.value.thema" type="submit">Update color scheme!</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="settings">
            <div>
                <div class="settings-content">
                    <h5> Category Settings</h5>
                    <p> If you need to add or edit categories then you are in the right place </p>
                </div><button class="button-settings" (click)="seeSettings(4)">{{see[4].text}}</button>
                <div *ngIf="see[4].see" class="settings-form">
                    <hr>
                    <mat-form-field class="form">
                        <input matInput (keyup)="applyFilter($event.target.value)">
                        <mat-placeholder style="color:lightgray;">Filter your category</mat-placeholder>
                    </mat-form-field>
                    <p>Add category</p>
                    <button mat-stroked-button color="primary" class="addButton" (click)="addCategory()"><mat-icon>add_circle</mat-icon></button>
                    <br>
                    <br>
                    <div class="tableClass">
                        <table mat-table [dataSource]="dataCategory" class="mat-elevation-z8">
                            <ng-container matColumnDef="category">
                                <th mat-header-cell *matHeaderCellDef [style.background]="background" style="color:blue"> Category </th>
                                <td mat-cell *matCellDef="let element" [style.background]="element.color" style="color:black"> {{element.category}} </td>
                            </ng-container>
                            <ng-container matColumnDef="color">
                                <th mat-header-cell *matHeaderCellDef [style.background]="background" style="color:blue"> Color </th>
                                <td mat-cell *matCellDef="let element" [style.background]="element.color" style="color:black"> {{element.color}} </td>
                            </ng-container>
                            <ng-container matColumnDef="delete">
                                <th mat-header-cell *matHeaderCellDef [style.background]="background" style="color:blue"> Delete </th>
                                <td mat-cell *matCellDef="let element" [style.background]="element.color" style="color:black"> <button mat-stroked-button color="primary" (click)="deleteCategory(element.category)"><mat-icon  style="color:black">delete</mat-icon></button> </td>
                            </ng-container>
                            <ng-container matColumnDef="edit">
                                <th mat-header-cell *matHeaderCellDef [style.background]="background" style="color:blue"> Edit </th>
                                <td mat-cell *matCellDef="let element" [style.background]="element.color" style="color:black"> <button mat-stroked-button color="primary" (click)="editCategory(element.category,element.color)"><mat-icon  style="color:black">edit</mat-icon></button> </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>