<div class="mainContent" *ngFor="let item of userInfo" [style.background]="changeBackground()" [style.color]="changeFont()">
    <button mat-stroked-button color="primary" (click)="logout()">LOGOUT</button>
    <button mat-stroked-button color="primary" (click)="return()">Return to previous page</button>
    <h1>Welcome to settings!</h1>
    <p>Your email: {{item.email}}</p>
    <p>Your thema: {{item.thema}}</p>
    <h4>Update your email: </h4>
    <form (ngSubmit)="updateEmail(emailForm)" #emailForm="ngForm">
        <div class="updateEmail">
            <input type="text" placeholder="New Email" required name="newEmail" ngModel>
        </div>
        <button mat-stroked-button color="primary" type="submit">Update your email!</button>
    </form>
    <br>
    <h4>Update your password: </h4>
    <form (ngSubmit)="updatePassword(passwordForm)" #passwordForm="ngForm">
        <div class="updatePassword">
            <input type="text" placeholder="New Password" required name="newPassword" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" ngModel>
        </div>
        <div class="updatePassword">
            <input type="text" placeholder="New Repeat Password" required name="newRepeatPassword" ngModel>
        </div>
        <button mat-stroked-button color="primary" type="submit">Update your thema!</button>
    </form>
    <p>{{info}}</p>
    <br>
    <h4>Update your thema: </h4>
    <form (ngSubmit)="updateThema(themaForm)" #themaForm="ngForm">
        <div class="updateThema">
            <mat-form-field class="form">
                <mat-select name="thema" ngModel>
                    <mat-option selected style="background-color:white; color:black;" value="white">White</mat-option>
                    <mat-option style="background-color:green; color:white;" value="green">Green</mat-option>
                    <mat-option style="background-color:black; color:white;" value="black">Black</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <button mat-stroked-button color="primary" type="submit">Update your thema!</button>
    </form>
</div>