.mainContent {
    width: 100%;
    height: auto;
    min-height: 100%;
    text-align: center;
}

.settings-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.settings-header {
    min-height: 50px;
    width: 60%;
    height: auto;
}

.settings {
    min-height: 50px;
    width: 60%;
    height: auto;
    border: 1px solid rgb(60, 60, 60);
    position: relative;
}

@media only screen and (max-width: 550px) {
    .settings-header {
        width: 80%;
    }
    .settings {
        width: 80%;
    }
}

@media only screen and (max-width: 380px) {
    .settings-header {
        width: 90%;
    }
    .settings {
        width: 90%;
    }
}

@media only screen and (max-width: 330px) {
    .settings-header {
        width: 100%;
    }
    .settings {
        width: 100%;
    }
}

.settings:hover {
    background: rgb(60, 60, 60);
    border: 1px solid black;
    color: white;
}

.settings:hover .mat-input-element {
    color: white;
}

.settings:hover .reset-button {
    background: rgb(60, 60, 60);
}

.settings-content {
    margin-left: 10px;
    float: left;
    text-align: left;
}

.settings-content p {
    opacity: 0.5;
}

.button-settings {
    position: absolute;
    top: 0;
    right: 0;
    background: rgb(60, 60, 60);
    color: white;
    border: 1px solid black;
    border-top: none;
    border-right: none;
    cursor: pointer;
}

.button-settings:hover {
    background-color: black;
    color: white;
    border: 1px solid black;
}

.settings-form {
    padding-top: 90px;
}

.mat-input-element {
    color: lightgray;
}

button {
    border: none;
}

.tableClass {
    display: inline-flex;
    justify-items: center;
    margin-bottom: 100px;
}

table {
    border: 1px solid rgb(60, 60, 60);
}

th {
    border: 1px solid rgb(60, 60, 60);
}

td {
    border: 1px solid rgb(60, 60, 60);
}

.reset-button {
    color: blue;
    text-decoration: underline;
}

.reset-button:hover {
    cursor: pointer;
}

.button {
    border: 3px solid black;
    height: 30px;
    margin-bottom: 50px;
    border-radius: 4px;
}

.button:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

.button:disabled {
    background-color: lightgrey;
    cursor: not-allowed;
}

th.mat-header-cell {
    text-align: center;
}