.mainContent {
    width: 100%;
    height: auto;
    min-height: 100%;
    text-align: center;
}

.settings-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.settings-header {
    min-height: 50px;
    width: 60%;
    height: auto;
}

.settings {
    min-height: 50px;
    width: 60%;
    height: auto;
    border: 1px solid blue;
    position: relative;
}

.settings:hover {
    background: rgb(60, 60, 60);
    color: white;
}

.settings-content {
    margin-left: 10px;
    float: left;
    text-align: left;
}

.settings-content p {
    opacity: 0.5;
}

.button-settings {
    position: absolute;
    top: 0;
    right: 0;
    background: rgb(60, 60, 60);
    color: white;
    border: 1px solid blue;
    border-top: none;
    border-right: none;
    cursor: pointer;
}

.button-settings:hover {
    background-color: blue;
    color: white;
}

.settings-form {
    padding-top: 90px;
}

.mat-input-element {
    color: blue;
}

::ng-deep.mat-form-field-underline {
    background-color: blue !important;
}

button {
    border: none;
}

.tableClass {
    display: inline-flex;
    justify-items: center;
    margin-bottom: 100px;
}

table {
    border: 1px solid blue;
}

th {
    border: 1px solid blue;
}

td {
    border: 1px solid blue;
}

.button {
    border: 3px solid blue;
    height: 30px;
    margin-bottom: 50px;
    border-radius: 4px;
}

.button:hover {
    background-color: blue;
    color: white;
    cursor: pointer;
}

.button:disabled {
    background-color: lightgrey;
    cursor: not-allowed;
}