<div class="center">
    <div class="center" [@itemTaskAnim]>
        <img src="https://i.imgur.com/ylv2Hdd.png" width="50%" height="50%">
    </div>
    <div class="kanban" [@inOutAnimation]>
    </div>
    <br>
    <div [@itemTaskAnim]>
        <button mat-stroked-button color="primary" (click)="registerUser()">Register User</button>
        <button mat-stroked-button color="primary" [disabled]="viewCaptcha()" (click)="loginUser()">Login User</button>
        <button type="button" width="30px" class="buttonGoogle" mat-stroked-button color="primary" (click)="loginWithGoogle()">                  
            <img width="20px" alt="Google Logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
             Login with Google
    </button>
    </div>
    <div *ngIf="viewCaptcha()">
        <h1>If you see this message, there were too many failed login attempts. Please complete the captcha and try again </h1>
        <div class="captcha">
            <re-captcha (resolved)="resolved($event)" siteKey="6LfOQ8QUAAAAAE310YWvEdGYeXWAIlq_frghVmRe" required></re-captcha>
        </div>
    </div>
    <h1>{{info}}</h1>
</div>