.container {
    text-align: center;
    min-height: 100%;
    height: auto;
    min-width: 100%;
    width: auto;
    background: rgb(60, 60, 60);
}

.captcha {
    display: inline-flex;
    justify-items: center;
}

.kanban-container {
    display: inline-flex;
    justify-items: center;
    background: black;
}

.kanban-content {
    margin: 3px;
    margin-top: 6px;
    margin-bottom: 6px;
    background: white;
}

.kanban-content:hover {
    background: black;
    color: white;
}

@media only screen and (max-width: 750px) {
    .logo {
        width: 100%;
        height: 100%;
    }
    .kanban-container {
        display: flex;
        flex-direction: column;
        justify-items: center;
        background: black;
    }
}

.button {
    border: 2px solid black !important;
    color: white;
    margin: 1px;
}

.button:hover {
    background: red;
    color: white;
}

.button:disabled {
    background-color: lightgrey;
    cursor: not-allowed;
}

.info {
    color: white;
    opacity: 0.5;
}