<div class="center">
    <h1 mat-dialog-title>Register</h1>
    <div mat-dialog-content>
        <div class="Register">
            <form #registerForm="ngForm">
                <div ngModelGroup="register">
                    <mat-form-field>
                        <p><input matInput type="text" placeholder="Email" name="email" required ngModel></p>
                        <mat-error>Email is Mandatory</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <p><input matInput [type]="hide ? 'password' : 'text'" placeholder="Password" #password="ngModel" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" name="password" ngModel></p>
                        <mat-error>Wrong Password</mat-error>
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>
                    <mat-form-field>
                        <p><input matInput [type]="hide ? 'password' : 'text'" placeholder="repeatPassword" required name="repeatPassword" ngModel></p>
                        <mat-error>Repeat Password is Mandatory</mat-error>
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
            </form>
        </div>
        <p>
            <re-captcha (resolved)="resolved($event)" siteKey="6LfOQ8QUAAAAAE310YWvEdGYeXWAIlq_frghVmRe" required></re-captcha>
            <mat-error>Select your captcha!</mat-error>
        </p>
    </div>

    <div mat-dialog-actions>
        <button mat-button [mat-dialog-close]="false">Cancel</button>
        <button mat-button [disabled]="!captcha" [mat-dialog-close]="registerForm" cdkFocusInitial>Register!</button>
    </div>
</div>