<div class="center">
    <h1 mat-dialog-title>Login</h1>
    <div mat-dialog-content>
        <div class="Login">
            <form #loginForm="ngForm">
                <div ngModelGroup="login">
                    <mat-form-field>
                        <p><input matInput type="text" placeholder="Email" required name="email" ngModel></p>
                        <mat-error>Email is Mandatory</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <p><input matInput [type]="hide ? 'password' : 'text'" placeholder="Password" required name="password" ngModel></p>
                        <mat-error>Password is Mandatory</mat-error>
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
            </form>
            <p>If you want to reset the password, enter your email and click the password reset button</p>
            <button mat-stroked-button color="primary" (click)="resetPassword(loginForm.value.login.email)">Reset password</button>
        </div>
    </div>
    <div mat-dialog-actions>
        <button mat-button [mat-dialog-close]="false">Cancel</button>
        <button mat-button [mat-dialog-close]="loginForm.value.login" cdkFocusInitial>Login</button>
    </div>
</div>