.center {
    text-align: center;
}

mat-placeholder {
    color: white;
}

::ng-deep.mat-form-field-underline {
    background-color: lightgray !important;
}

.button {
    display: inline-flex;
    justify-items: center;
}

.reset-button {
    border: 1px solid black;
    height: 30px;
}

.reset-button:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}