<div class="mainContent" *ngFor="let item of userInfo" [style.background]="changeBackground()" [style.color]="changeFont()">
    <div class="center">
        <mat-sidenav-container class="sidenav">
            <mat-sidenav #sidenav class="sidenavleft" [style.background]="changeBackground()" [style.color]="changeFont()">
                <!-- <p><button mat-stroked-button color="primary" (click)="sidenav.toggle()">Close</button></p>-->
                <p><button mat-stroked-button color="primary" (click)="createNewKanbanTable()">Create new Kanban Project</button></p>
                <p>My Kanban Projects: </p>
                <ol>
                    <div *ngFor="let item of tableNameProject">
                        <li *ngIf="!item.share">
                            <div class="example-box" [style.background]="changeBackground()" [style.color]="changeFont()">

                                <button mat-stroked-button color="primary" class="buttonList" class="buttonList" [style.color]="changeFont()" (click)="seeMyProject(item.projectName)"> {{inreplece(item.projectName)}}</button>
                                <button mat-button *ngIf="item.projectName!='kanban'" [matMenuTriggerFor]="menu">  <mat-icon aria-label="Menu">menu</mat-icon></button>
                                <mat-menu #menu="matMenu">
                                    <button mat-menu-item (click)="removeProject(item.projectName)"><mat-icon>delete</mat-icon>Delete</button>
                                    <button mat-menu-item (click)="editProjectName(item.projectName)"><mat-icon>edit</mat-icon>Edit</button>
                                    <button mat-menu-item (click)="shareProject(item.projectName)">Share</button>
                                </mat-menu>
                            </div>
                        </li>
                    </div>
                </ol>
                <p>Shared Kanban Projects: </p>
                <ol>
                    <div *ngFor="let item of shared">
                        <li>
                            <div class="example-box" [style.background]="changeBackground()" [style.color]="changeFont()">
                                <button mat-stroked-button color="primary" class="buttonList" class="buttonList" [style.color]="changeFont()" (click)="seeMyShareProject(item)"> {{inreplece(item.kanban)}}</button>
                            </div>
                        </li>
                    </div>
                </ol>
            </mat-sidenav>
            <mat-sidenav #sidenavright class="sideNavRight" position="end" [style.background]="changeBackground()" [style.color]="changeFont()">
                <br>
                <img ngxGravatar [email]=item.email> <br>
                <h3><input type="button" class="onlineStatus" *ngIf="checkStatus(replece(item.email))" (click)="changeStatus(replece(item.email))">
                    <input type="button" class="offlineStatus" *ngIf="!checkStatus(replece(item.email))" (click)="changeStatus(replece(item.email))"> {{item.email}}
                </h3>
                <h4>My Friends list:</h4>
                <div class="label">
                    <mat-grid-list cols="1" rowHeight="1:0.1">
                        <mat-grid-tile colspan="1">
                            <h4>Online:</h4>
                            <button class="buttonChoice" mat-stroked-button color="primary" (click)="onlineB()">{{textOnline}}</button>
                        </mat-grid-tile>
                    </mat-grid-list>
                </div>
                <div *ngIf="online">
                    <div *ngFor="let item of allUser">
                        <div *ngIf="checkFriend(item.email)">
                            <div *ngIf="checkAccept(item.email)">
                                <p *ngIf="item.online">
                                    <button mat-button class="mess" (click)="getMyFriendMessage(item.email)" [matMenuTriggerFor]="mess">
                                <mat-grid-list cols="5" rowHeight="1:1">
                                    <mat-grid-tile colspan="1"><img ngxGravatar [email]=inreplece(item.email)></mat-grid-tile>
                                    <mat-grid-tile colspan="3" class="text"> {{checkLength(inreplece(item.email))}}  {{checkByNewMessage(inreplece(item.email))}} </mat-grid-tile>
                                    <mat-grid-tile colspan="1"> <button mat-stroked-button color="primary" (click)="removeFriend(item)">x</button></mat-grid-tile>
                                    </mat-grid-list>
                                    </button>
                                    <mat-menu #mess="matMenu">
                                        <div (click)="dontClose($event)">
                                            <div class="chatWitchFriend" #scrollMe [scrollTop]="scrollMe.scrollHeight">
                                                <div *ngFor="let mess of myMessageWitchFriend">
                                                    <img ngxGravatar [email]=mess.email> {{mess.email}}
                                                    <p>{{mess.message}}</p>
                                                    <hr>
                                                </div>
                                            </div>
                                            <form (ngSubmit)="sendMessageForFriend(sendMessageForm.value.message,sendMessageForm,item.userId,item.email)" #sendMessageForm="ngForm">

                                                <div>
                                                    <mat-form-field>
                                                        <input matInput type="text" placeholder="Message" required name="message" ngModel>
                                                    </mat-form-field>
                                                    <button type="submit" mat-stroked-button color="primary" [disabled]="sendMessageForm.invalid">Send</button></div>
                                            </form>
                                        </div>
                                    </mat-menu>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="label">
                    <mat-grid-list cols="1" rowHeight="1:0.1">
                        <mat-grid-tile colspan="1">
                            <h4>Offline:</h4>
                            <button class="buttonChoice" mat-stroked-button color="primary" (click)="offlineB()">{{textOffline}}</button>
                        </mat-grid-tile>
                    </mat-grid-list>
                </div>
                <div *ngIf="offline">
                    <div class="offline" *ngFor="let item of allUser">
                        <div *ngIf="checkFriend(item.email)">
                            <div *ngIf="checkAccept(item.email)">
                                <p *ngIf="!item.online">
                                    <button mat-button class="mess" (click)="getMyFriendMessage(item.email)" [matMenuTriggerFor]="mess">
                                    <mat-grid-list cols="5" rowHeight="1:1">
                                        <mat-grid-tile colspan="1"><img ngxGravatar [email]=inreplece(item.email)></mat-grid-tile>
                                        <mat-grid-tile colspan="3">{{inreplece(item.email)}}  {{checkByNewMessage(inreplece(item.email))}}</mat-grid-tile>
                                        <mat-grid-tile colspan="1"> <button mat-stroked-button color="primary" (click)="removeFriend(item)">x</button></mat-grid-tile>
                                    </mat-grid-list>
                                    </button>
                                    <mat-menu #mess="matMenu">
                                        <div (click)="dontClose($event)" class="chatMenu">
                                            <div class="chatWitchFriend" #scrollMe [scrollTop]="scrollMe.scrollHeight">
                                                <div *ngFor="let mess of myMessageWitchFriend">
                                                    <img ngxGravatar [email]=mess.email> {{mess.email}}
                                                    <p>{{mess.message}}</p>
                                                    <hr>
                                                </div>
                                            </div>
                                            <form (ngSubmit)="sendMessageForFriend(sendMessageForm.value.message,sendMessageForm,item.userId,item.email)" #sendMessageForm="ngForm">

                                                <div>
                                                    <mat-form-field>
                                                        <input matInput type="text" placeholder="Message" required name="message" ngModel>
                                                    </mat-form-field>
                                                    <button type="submit" mat-stroked-button color="primary" [disabled]="sendMessageForm.invalid">Send</button></div>
                                            </form>
                                        </div>
                                    </mat-menu>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="label">
                    <mat-grid-list cols="1" rowHeight="1:0.1">
                        <mat-grid-tile colspan="1">
                            <h4>Invities:</h4>
                            <button class="buttonChoice" mat-stroked-button color="primary" (click)="invitiesB()">{{textInvities}}</button>
                        </mat-grid-tile>
                    </mat-grid-list>
                </div>
                <div *ngIf="invities">
                    <div *ngFor="let item of myInvities">
                        <p>{{inreplece(item.friendsEmail)}}
                            <button mat-stroked-button color="primary" (click)="acceptInv(item)"><mat-icon>done</mat-icon></button>
                            <button mat-stroked-button color="primary" (click)="dontAcceptInv(item)">X</button></p>
                    </div>
                </div>
                <div class="addFriend">
                    <form (ngSubmit)="addFriend(addFriendForm.value.emailFriend,addFriendForm)" #addFriendForm="ngForm">

                        <mat-form-field>
                            <input matInput type="text" placeholder="Friend's Email Addres" required name="emailFriend" ngModel>
                            <mat-error>Email friend is Mandatory</mat-error>
                        </mat-form-field>

                        <button type="submit" mat-stroked-button color="primary" [disabled]="addFriendForm.invalid">Send invite</button>
                    </form>
                </div>
                <h4>Sent Invities:</h4>
                <div *ngFor="let item of allUser">
                    <div *ngIf="checkFriend(item.email)">
                        <div *ngIf="!checkAccept(item.email)">
                            <p> {{inreplece(item.email)}}</p>
                        </div>
                    </div>
                </div>
            </mat-sidenav>
            <mat-sidenav-content [style.background]="changeBackground()" [style.color]="changeFont()">
                <button mat-stroked-button color="primary" class="myKanbanProject" (click)="sidenav.toggle()">My Kanban Project</button>
                <button mat-stroked-button color="primary" class="friends" (click)="sidenavright.toggle()">Friends {{newNot()}}</button>
                <app-menu></app-menu>
                <button *ngIf="false" mat-stroked-button color="primary" (click)="sharingOption()">Sharing options</button>
                <button *ngIf="false" mat-stroked-button (click)="openChat()">Chat</button>
                <br>
                <div *ngIf="!checkIfDelete()">
                    <h3>Welcome {{item.email}} </h3>
                    <h3>Project: {{inreplece(projectName)}}</h3>
                    <div>
                        <div *ngIf="settingShare">
                            <div class="shareOption" *ngIf="checkIfOwner()">

                                <br>
                                <h1>Sharing options <button mat-stroked-button color="primary" class="buttonChoice" (click)="shareOptionB()">{{textShareOption}}</button></h1>
                                <div *ngIf="shareOption">
                                    <!--   <button mat-stroked-button color="primary" (click)="deleteShareProject(projectName)"><mat-icon>delete</mat-icon>Delete Project</button>-->
                                    <!-- <button mat-stroked-button color="primary" (click)="editShareProject(projectName)"><mat-icon>edit</mat-icon>Edit</button> -->
                                    <button mat-stroked-button color="primary" (click)="stopShareProject(projectName)">Stop Sharing Project</button>
                                    <h1>Shared with <button mat-stroked-button color="primary" class="buttonChoice" (click)="sharedHide()">{{textShared}}</button></h1>
                                    <div *ngIf="sharedButton" class="shareShared">
                                        <div *ngFor="let friend of shareFriends">
                                            <div *ngIf="userInfo[0].email!=inreplece(friend.friendsEmail)">Email: {{inreplece(friend.friendsEmail)}} Role: {{friend.role}}
                                                <form (ngSubmit)="shareTable(friend,projectName,roleForm.value.role)" #roleForm="ngForm">
                                                    <mat-form-field>
                                                        <mat-label>Edit role! </mat-label>
                                                        <mat-select name="role" ngModel [placeholder]="friend.role">
                                                            <mat-option value="viewer">Viewer</mat-option>
                                                            <mat-option value="editor">Editor</mat-option>
                                                            <!--<mat-option value="owner">Owner</mat-option>-->
                                                        </mat-select>
                                                    </mat-form-field>
                                                    <button type="submit" mat-stroked-button color="primary" [disabled]="roleForm.invalid">Edit role!</button>
                                                </form>
                                                <button mat-stroked-button color="primary" (click)="stopShare(friend,projectName)">Stop share project</button>

                                            </div>
                                        </div> <br>
                                    </div>
                                    <h1>Share with <button mat-stroked-button color="primary" class="buttonChoice" (click)="shareHide()">{{textShare}}</button></h1>
                                    <div *ngIf="shareButton" class="shareCan">
                                        <div *ngFor="let friend of myFriend">
                                            <div *ngIf="!checkShare(friend.friendsEmail,projectName)">
                                                <div *ngIf="friend.accept">
                                                    Email: {{inreplece(friend.friendsEmail)}}
                                                    <form (ngSubmit)="shareTable(friend,projectName,roleForm.value.role)" #roleForm="ngForm">
                                                        <mat-form-field>
                                                            <mat-label>Select role! </mat-label>
                                                            <mat-select name="role" [(ngModel)]="view" [placeholder]="view">
                                                                <mat-option value="viewer">Viewer</mat-option>
                                                                <mat-option value="editor">Editor</mat-option>
                                                                <!--  <mat-option value="owner">Owner</mat-option>-->
                                                            </mat-select>
                                                        </mat-form-field>
                                                        <button type="submit" mat-stroked-button color="primary" [disabled]="roleForm.invalid">Share project!</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h1>Chat <button mat-stroked-button color="primary" class="buttonChoice" (click)="chatHide()">{{textChat}}</button></h1>
                            <div *ngIf="chatButton" class="chat" #scrollMe [scrollTop]="scrollMe.scrollHeight">
                                <div *ngFor="let mes of viewMessage">
                                    <div class="myKanbanProject">
                                        <img ngxGravatar [email]=inreplece(mes.email)>
                                    </div>
                                    <div>
                                        <p [ngClass]="checkShare(replece(mes.email),projectName)?'share':'dontShare'"> {{inreplece(mes.email)}} </p>
                                        <p>{{inreplece(mes.message)}}</p>
                                        <hr>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="chatButton" class="sendToChat">
                                <form (ngSubmit)="sendMessage(sendMessageForm.value.message,sendMessageForm)" #sendMessageForm="ngForm">
                                    <div class="sendMessage">
                                        <mat-form-field class="form">
                                            <input matInput type="text" placeholder="Message" required name="message" ngModel>
                                        </mat-form-field>
                                        <button type="submit" class="button" color="primary" [disabled]="sendMessageForm.invalid">Send</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <p></p>
                        <button mat-stroked-button color="primary" [disabled]="checkIfView()" [disabled]="numbers[0].number==10" (click)="addNewTable()">Add new table</button>
                        <button mat-stroked-button color="primary" [disabled]="checkIfView()" [disabled]="numbers[0].number==0" (click)="deleteLastTable()">Delete last table</button>
                        <div cdkDropListGroup name="toName">
                            <div *ngIf="numbers[0].number>0" class="example-container">
                                <h2>{{tableTitle[0].title}}</h2>
                                <button mat-stroked-button color="primary" [disabled]="checkIfView()" (click)="addTask(table0)"><mat-icon>add_circle</mat-icon></button>
                                <button mat-stroked-button color="primary" [disabled]="checkIfView()" (click)="removeAllTask(table0)">Remove all tasks </button>
                                <button mat-stroked-button color="primary" [disabled]="checkIfView()" (click)="updateTableTitle(table0,false)">Edit Table title  </button>
                                <div cdkDropList [cdkDropListData]="tableZero" class="example-list" (cdkDropListDropped)="drop($event)">
                                    <div class="example-box" [style.backgroundColor]="item.color" *ngFor="let item of tableZero" cdkDrag [cdkDragDisabled]="checkIfView()">
                                        <button class="buttonPriority" mat-stroked-button [style.backgroundColor]="item.priority" *ngIf="checkPrio(item.priority)">{{checkPrio(item.priority)}}</button>
                                        <button class="buttonList" mat-stroked-button color="primary" (click)="editTask(item.title,item.description,item.priority,item.color,item.endDate,table0,item.user)">Task title: {{item.title}}</button>
                                        <button class="buttonRemove" [disabled]="checkIfView()" mat-stroked-button color="primary" (click)="removeTask(item.title,table0)"><mat-icon>delete</mat-icon></button>

                                        <div *ngIf="settingShare" class="choiceUser">
                                            <form (ngSubmit)="choiceUserForTask(choiceUser.value.user,table0,item.title)" #choiceUser="ngForm">
                                                <mat-form-field>
                                                    <mat-label [ngClass]="checkShare(item.user,projectName)?'share':'dontShare'">{{choiceText(item.user)}} </mat-label>
                                                    <mat-select [disabled]="checkIfView()" name="user" ngModel>
                                                        <mat-option value="-">-</mat-option>
                                                        <div *ngFor="let friend of myFriend">
                                                            <div *ngIf="checkAccept(friend.friendsEmail)">
                                                                <mat-option *ngIf="checkShare(friend.friendsEmail,projectName)" value={{friend.friendsEmail}}>{{inreplece(friend.friendsEmail)}}</mat-option>
                                                            </div>
                                                        </div>
                                                    </mat-select>
                                                </mat-form-field>
                                                <button type="submit" [disabled]="checkIfView()" class="buttonChoice" mat-stroked-button color="primary" [disabled]="choiceUser.invalid">Select!</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="numbers[0].number>1" class="example-container">
                                <h2>{{tableTitle[1].title}}</h2>
                                <button mat-stroked-button color="primary" [disabled]="checkIfView()" (click)="addTask(table1)"><mat-icon>add_circle</mat-icon></button>
                                <button mat-stroked-button color="primary" [disabled]="checkIfView()" (click)="removeAllTask(table1)">Remove all tasks </button>
                                <button mat-stroked-button color="primary" [disabled]="checkIfView()" (click)="updateTableTitle(table1,false)">Edit Table title </button>
                                <div cdkDropList [cdkDropListData]="tableOne" class="example-list" (cdkDropListDropped)="drop($event)">
                                    <div class="example-box" [style.backgroundColor]="item.color" *ngFor="let item of tableOne" cdkDrag [cdkDragDisabled]="checkIfView()">
                                        <button class="buttonPriority" [disabled]="checkIfView()" mat-stroked-button [style.backgroundColor]="item.priority" *ngIf="checkPrio(item.priority)">{{checkPrio(item.priority)}}</button><br>
                                        <button class="buttonList" [disabled]="checkIfView()" mat-stroked-button color="primary" (click)="editTask(item.title,item.description,item.priority,item.color,item.endDate,table1,item.user)">Task title: {{item.title}}</button>
                                        <button class="buttonRemove" [disabled]="checkIfView()" mat-stroked-button color="primary" (click)="removeTask(item.title,table1)"><mat-icon>delete</mat-icon></button><br>
                                        <div *ngIf="settingShare" class="choiceUser">
                                            <form (ngSubmit)="choiceUserForTask(choiceUser.value.user,table1,item.title)" #choiceUser="ngForm">
                                                <mat-form-field>
                                                    <mat-label [ngClass]="checkShare(item.user,projectName)?'share':'dontShare'">{{choiceText(item.user)}} </mat-label>
                                                    <mat-select [disabled]="checkIfView()" name="user" ngModel>
                                                        <mat-option value="-">-</mat-option>
                                                        <div *ngFor="let friend of myFriend">
                                                            <div *ngIf="checkAccept(friend.friendsEmail)">
                                                                <mat-option *ngIf="checkShare(friend.friendsEmail,projectName)" value={{friend.friendsEmail}}>{{inreplece(friend.friendsEmail)}}</mat-option>
                                                            </div>
                                                        </div>
                                                    </mat-select>
                                                </mat-form-field>
                                                <button type="submit" [disabled]="checkIfView()" class="buttonChoice" mat-stroked-button color="primary" [disabled]="choiceUser.invalid">Select!</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="numbers[0].number>2" class="example-container">
                                <h2>{{tableTitle[2].title}}</h2>
                                <button mat-stroked-button color="primary" [disabled]="checkIfView()" (click)="addTask(table2)"><mat-icon>add_circle</mat-icon></button>
                                <button mat-stroked-button color="primary" [disabled]="checkIfView()" (click)="removeAllTask(table2)">Remove all tasks </button>
                                <button mat-stroked-button color="primary" [disabled]="checkIfView()" (click)="updateTableTitle(table2,false)">Edit Table title </button>
                                <div cdkDropList [cdkDropListData]="tableTwo" class="example-list" (cdkDropListDropped)="drop($event)">
                                    <div class="example-box" [style.backgroundColor]="item.color" *ngFor="let item of tableTwo" cdkDrag [cdkDragDisabled]="checkIfView()">
                                        <button class="buttonPriority" [disabled]="checkIfView()" mat-stroked-button [style.backgroundColor]="item.priority" *ngIf="checkPrio(item.priority)">{{checkPrio(item.priority)}}</button><br>
                                        <button class="buttonList" [disabled]="checkIfView()" mat-stroked-button color="primary" (click)="editTask(item.title,item.description,item.priority,item.color,item.endDate,table2,item.user)">Task title: {{item.title}}</button>
                                        <button class="buttonRemove" [disabled]="checkIfView()" mat-stroked-button color="primary" (click)="removeTask(item.title,table2)"><mat-icon>delete</mat-icon></button><br>
                                        <div *ngIf="settingShare" class="choiceUser">
                                            <form (ngSubmit)="choiceUserForTask(choiceUser.value.user,table2,item.title)" #choiceUser="ngForm">
                                                <mat-form-field>
                                                    <mat-label [ngClass]="checkShare(item.user,projectName)?'share':'dontShare'">{{choiceText(item.user)}} </mat-label>
                                                    <mat-select [disabled]="checkIfView()" name="user" ngModel>
                                                        <mat-option value="-">-</mat-option>
                                                        <div *ngFor="let friend of myFriend">
                                                            <div *ngIf="checkAccept(friend.friendsEmail)">
                                                                <mat-option *ngIf="checkShare(friend.friendsEmail,projectName)" value={{friend.friendsEmail}}>{{inreplece(friend.friendsEmail)}}</mat-option>
                                                            </div>
                                                        </div>
                                                    </mat-select>
                                                </mat-form-field>
                                                <button type="submit" [disabled]="checkIfView()" class="buttonChoice" mat-stroked-button color="primary" [disabled]="choiceUser.invalid">Select!</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div *ngIf="numbers[0].number>3" class="example-container">
                                <h2>{{tableTitle[3].title}}</h2>
                                <button mat-stroked-button color="primary" [disabled]="checkIfView()" (click)="addTask(table3)"><mat-icon>add_circle</mat-icon></button>
                                <button mat-stroked-button color="primary" [disabled]="checkIfView()" (click)="removeAllTask(table3)">Remove all tasks </button>
                                <button mat-stroked-button color="primary" [disabled]="checkIfView()" (click)="updateTableTitle(table3,false)">Edit Table title </button>
                                <div cdkDropList [cdkDropListData]="tableThree" class="example-list" (cdkDropListDropped)="drop($event)">
                                    <div class="example-box" [style.backgroundColor]="item.color" *ngFor="let item of tableThree" cdkDrag [cdkDragDisabled]="checkIfView()">
                                        <button class="buttonPriority" [disabled]="checkIfView()" mat-stroked-button [style.backgroundColor]="item.priority" *ngIf="checkPrio(item.priority)">{{checkPrio(item.priority)}}</button><br>
                                        <button class="buttonList" [disabled]="checkIfView()" mat-stroked-button color="primary" (click)="editTask(item.title,item.description,item.priority,item.color,item.endDate,table3,item.user)">Task title: {{item.title}}</button>
                                        <button class="buttonRemove" [disabled]="checkIfView()" mat-stroked-button color="primary" (click)="removeTask(item.title,table3)"><mat-icon>delete</mat-icon></button><br>
                                        <div *ngIf="settingShare" class="choiceUser">
                                            <form (ngSubmit)="choiceUserForTask(choiceUser.value.user,table3,item.title)" #choiceUser="ngForm">
                                                <mat-form-field>
                                                    <mat-label [ngClass]="checkShare(item.user,projectName)?'share':'dontShare'">{{choiceText(item.user)}} </mat-label>
                                                    <mat-select [disabled]="checkIfView()" name="user" ngModel>
                                                        <mat-option value="-">-</mat-option>
                                                        <div *ngFor="let friend of myFriend">
                                                            <div *ngIf="checkAccept(friend.friendsEmail)">
                                                                <mat-option *ngIf="checkShare(friend.friendsEmail,projectName)" value={{friend.friendsEmail}}>{{inreplece(friend.friendsEmail)}}</mat-option>
                                                            </div>
                                                        </div>
                                                    </mat-select>
                                                </mat-form-field>
                                                <button type="submit" [disabled]="checkIfView()" class="buttonChoice" mat-stroked-button color="primary" [disabled]="choiceUser.invalid">Select!</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div *ngIf="numbers[0].number>4" class="example-container">
                                <h2>{{tableTitle[4].title}}</h2>
                                <button mat-stroked-button color="primary" [disabled]="checkIfView()" (click)="addTask(table4)"><mat-icon>add_circle</mat-icon></button>
                                <button mat-stroked-button color="primary" [disabled]="checkIfView()" (click)="removeAllTask(table4)">Remove all tasks </button>
                                <button mat-stroked-button color="primary" [disabled]="checkIfView()" (click)="updateTableTitle(table4,false)">Edit Table title </button>
                                <div cdkDropList [cdkDropListData]="tableFour" class="example-list" (cdkDropListDropped)="drop($event)">
                                    <div class="example-box" [style.backgroundColor]="item.color" *ngFor="let item of tableFour" cdkDrag [cdkDragDisabled]="checkIfView()">
                                        <button class="buttonPriority" [disabled]="checkIfView()" mat-stroked-button [style.backgroundColor]="item.priority" *ngIf="checkPrio(item.priority)">{{checkPrio(item.priority)}}</button><br>
                                        <button class="buttonList" [disabled]="checkIfView()" mat-stroked-button color="primary" (click)="editTask(item.title,item.description,item.priority,item.color,item.endDate,table4,item.user)">Task title: {{item.title}}</button>
                                        <button class="buttonRemove" [disabled]="checkIfView()" mat-stroked-button color="primary" (click)="removeTask(item.title,table4)"><mat-icon>delete</mat-icon></button><br>
                                        <div *ngIf="settingShare" class="choiceUser">
                                            <form (ngSubmit)="choiceUserForTask(choiceUser.value.user,table4,item.title)" #choiceUser="ngForm">
                                                <mat-form-field>
                                                    <mat-label [ngClass]="checkShare(item.user,projectName)?'share':'dontShare'">{{choiceText(item.user)}} </mat-label>
                                                    <mat-select [disabled]="checkIfView()" name="user" ngModel>
                                                        <mat-option value="-">-</mat-option>
                                                        <div *ngFor="let friend of myFriend">
                                                            <div *ngIf="checkAccept(friend.friendsEmail)">
                                                                <mat-option *ngIf="checkShare(friend.friendsEmail,projectName)" value={{friend.friendsEmail}}>{{inreplece(friend.friendsEmail)}}</mat-option>
                                                            </div>
                                                        </div>
                                                    </mat-select>
                                                </mat-form-field>
                                                <button type="submit" [disabled]="checkIfView()" class="buttonChoice" mat-stroked-button color="primary" [disabled]="choiceUser.invalid">Select!</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div *ngIf="numbers[0].number>5" class="example-container">
                                <h2>{{tableTitle[5].title}}</h2>
                                <button mat-stroked-button color="primary" [disabled]="checkIfView()" (click)="addTask(table5)"><mat-icon>add_circle</mat-icon></button>
                                <button mat-stroked-button color="primary" [disabled]="checkIfView()" (click)="removeAllTask(table5)">Remove all tasks</button>
                                <button mat-stroked-button color="primary" [disabled]="checkIfView()" (click)="updateTableTitle(table5,false)">Edit Table title </button>
                                <div cdkDropList [cdkDropListData]="tableFive" class="example-list" (cdkDropListDropped)="drop($event)">
                                    <div class="example-box" [style.backgroundColor]="item.color" *ngFor="let item of tableFive" cdkDrag [cdkDragDisabled]="checkIfView()">
                                        <button class="buttonPriority" [disabled]="checkIfView()" mat-stroked-button [style.backgroundColor]="item.priority" *ngIf="checkPrio(item.priority)">{{checkPrio(item.priority)}}</button><br>
                                        <button class="buttonList" [disabled]="checkIfView()" mat-stroked-button color="primary" (click)="editTask(item.title,item.description,item.priority,item.color,item.endDate,table5,item.user)">Task title: {{item.title}}</button>
                                        <button class="buttonRemove" [disabled]="checkIfView()" mat-stroked-button color="primary" (click)="removeTask(item.title,table5)"><mat-icon>delete</mat-icon></button><br>
                                        <div *ngIf="settingShare" class="choiceUser">
                                            <form (ngSubmit)="choiceUserForTask(choiceUser.value.user,table5,item.title)" #choiceUser="ngForm">
                                                <mat-form-field>
                                                    <mat-label [ngClass]="checkShare(item.user,projectName)?'share':'dontShare'">{{choiceText(item.user)}} </mat-label>
                                                    <mat-select [disabled]="checkIfView()" name="user" ngModel>
                                                        <mat-option value="-">-</mat-option>
                                                        <div *ngFor="let friend of myFriend">

                                                            <div *ngIf="checkAccept(friend.friendsEmail)">
                                                                <mat-option *ngIf="checkShare(friend.friendsEmail,projectName)" value={{friend.friendsEmail}}>{{inreplece(friend.friendsEmail)}}</mat-option>
                                                            </div>
                                                        </div>
                                                    </mat-select>
                                                </mat-form-field>
                                                <button type="submit" [disabled]="checkIfView()" class="buttonChoice" mat-stroked-button color="primary" [disabled]="choiceUser.invalid">Select!</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div *ngIf="numbers[0].number>6" class="example-container">
                                <h2>{{tableTitle[6].title}}</h2>
                                <button mat-stroked-button color="primary" [disabled]="checkIfView()" (click)="addTask(table6)">	<mat-icon>add_circle</mat-icon></button>
                                <button mat-stroked-button color="primary" [disabled]="checkIfView()" (click)="removeAllTask(table6)">Remove all tasks </button>
                                <button mat-stroked-button color="primary" [disabled]="checkIfView()" (click)="updateTableTitle(table6,false)">Edit Table title </button>
                                <div cdkDropList [cdkDropListData]="tableSix" class="example-list" (cdkDropListDropped)="drop($event)">
                                    <div class="example-box" [style.backgroundColor]="item.color" *ngFor="let item of tableSix" cdkDrag [cdkDragDisabled]="checkIfView()">
                                        <button class="buttonPriority" [disabled]="checkIfView()" mat-stroked-button [style.backgroundColor]="item.priority" *ngIf="checkPrio(item.priority)">{{checkPrio(item.priority)}}</button><br>
                                        <button class="buttonList" [disabled]="checkIfView()" mat-stroked-button color="primary" (click)="editTask(item.title,item.description,item.priority,item.color,item.endDate,table6,item.user)">Task title: {{item.title}}</button>
                                        <button class="buttonRemove" [disabled]="checkIfView()" mat-stroked-button color="primary" (click)="removeTask(item.title,table6)"><mat-icon>delete</mat-icon></button><br>
                                        <div *ngIf="settingShare" class="choiceUser">
                                            <form (ngSubmit)="choiceUserForTask(choiceUser.value.user,table6,item.title)" #choiceUser="ngForm">
                                                <mat-form-field>
                                                    <mat-label [ngClass]="checkShare(item.user,projectName)?'share':'dontShare'">{{choiceText(item.user)}} </mat-label>
                                                    <mat-select [disabled]="checkIfView()" name="user" ngModel>
                                                        <mat-option value="-">-</mat-option>
                                                        <div *ngFor="let friend of myFriend">
                                                            <div *ngIf="checkAccept(friend.friendsEmail)">
                                                                <mat-option *ngIf="checkShare(friend.friendsEmail,projectName)" value={{friend.friendsEmail}}>{{inreplece(friend.friendsEmail)}}</mat-option>
                                                            </div>
                                                        </div>
                                                    </mat-select>
                                                </mat-form-field>
                                                <button type="submit" [disabled]="checkIfView()" class="buttonChoice" mat-stroked-button color="primary" [disabled]="choiceUser.invalid">Select!</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div *ngIf="numbers[0].number>7" class="example-container">
                                <h2>{{tableTitle[7].title}}</h2>
                                <button mat-stroked-button color="primary" [disabled]="checkIfView()" (click)="addTask(table7)"><mat-icon>add_circle</mat-icon></button>
                                <button mat-stroked-button color="primary" [disabled]="checkIfView()" (click)="removeAllTask(table7)">Remove all tasks </button>
                                <button mat-stroked-button color="primary" [disabled]="checkIfView()" (click)="updateTableTitle(table7,false)">Edit Table title </button>
                                <div cdkDropList [cdkDropListData]="tableSeven" class="example-list" (cdkDropListDropped)="drop($event)">
                                    <div class="example-box" [style.backgroundColor]="item.color" *ngFor="let item of tableSeven" cdkDrag [cdkDragDisabled]="checkIfView()">
                                        <button class="buttonPriority" [disabled]="checkIfView()" mat-stroked-button [style.backgroundColor]="item.priority" *ngIf="checkPrio(item.priority)">{{checkPrio(item.priority)}}</button><br>
                                        <button class="buttonList" [disabled]="checkIfView()" mat-stroked-button color="primary" (click)="editTask(item.title,item.description,item.priority,item.color,item.endDate,table7,item.user)">Task title: {{item.title}}</button>
                                        <button class="buttonRemove" [disabled]="checkIfView()" mat-stroked-button color="primary" (click)="removeTask(item.title,table7)"><mat-icon>delete</mat-icon></button><br>
                                        <div *ngIf="settingShare" class="choiceUser">
                                            <form (ngSubmit)="choiceUserForTask(choiceUser.value.user,table7,item.title)" #choiceUser="ngForm">
                                                <mat-form-field>
                                                    <mat-label [ngClass]="checkShare(item.user,projectName)?'share':'dontShare'">{{choiceText(item.user)}} </mat-label>
                                                    <mat-select [disabled]="checkIfView()" name="user" ngModel>
                                                        <mat-option value="-">-</mat-option>
                                                        <div *ngFor="let friend of myFriend">
                                                            <div *ngIf="checkAccept(friend.friendsEmail)">
                                                                <mat-option *ngIf="checkShare(friend.friendsEmail,projectName)" value={{friend.friendsEmail}}>{{inreplece(friend.friendsEmail)}}</mat-option>
                                                            </div>
                                                        </div>
                                                    </mat-select>
                                                </mat-form-field>
                                                <button type="submit" [disabled]="checkIfView()" class="buttonChoice" mat-stroked-button color="primary" [disabled]="choiceUser.invalid">Select!</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div *ngIf="numbers[0].number>8" class="example-container">
                                <h2>{{tableTitle[8].title}}</h2>
                                <button mat-stroked-button color="primary" [disabled]="checkIfView()" (click)="addTask(table8)"><mat-icon>add_circle</mat-icon></button>
                                <button mat-stroked-button color="primary" [disabled]="checkIfView()" (click)="removeAllTask(table8)">Remove all tasks </button>
                                <button mat-stroked-button color="primary" [disabled]="checkIfView()" (click)="updateTableTitle(table8,false)">Edit Table title </button>
                                <div cdkDropList [cdkDropListData]="tableEight" class="example-list" (cdkDropListDropped)="drop($event)">
                                    <div class="example-box" [style.backgroundColor]="item.color" *ngFor="let item of tableEight" cdkDrag [cdkDragDisabled]="checkIfView()">
                                        <button class="buttonPriority" [disabled]="checkIfView()" mat-stroked-button [style.backgroundColor]="item.priority" *ngIf="checkPrio(item.priority)">{{checkPrio(item.priority)}}</button><br>
                                        <button class="buttonList" [disabled]="checkIfView()" mat-stroked-button color="primary" (click)="editTask(item.title,item.description,item.priority,item.color,item.endDate,table8,item.user)">Task title: {{item.title}}</button>
                                        <button class="buttonRemove" [disabled]="checkIfView()" mat-stroked-button color="primary" (click)="removeTask(item.title,table8)"><mat-icon>delete</mat-icon></button><br>
                                        <div *ngIf="settingShare" class="choiceUser">
                                            <form (ngSubmit)="choiceUserForTask(choiceUser.value.user,table8,item.title)" #choiceUser="ngForm">
                                                <mat-form-field>
                                                    <mat-label [ngClass]="checkShare(item.user,projectName)?'share':'dontShare'">{{choiceText(item.user)}} </mat-label>
                                                    <mat-select [disabled]="checkIfView()" name="user" ngModel>
                                                        <mat-option value="-">-</mat-option>
                                                        <div *ngFor="let friend of myFriend">
                                                            <div *ngIf="checkAccept(friend.friendsEmail)">
                                                                <mat-option *ngIf="checkShare(friend.friendsEmail,projectName)" value={{friend.friendsEmail}}>{{inreplece(friend.friendsEmail)}}</mat-option>
                                                            </div>
                                                        </div>
                                                    </mat-select>
                                                </mat-form-field>
                                                <button type="submit" [disabled]="checkIfView()" class="buttonChoice" mat-stroked-button color="primary" [disabled]="choiceUser.invalid">Select!</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div *ngIf="numbers[0].number>9" class="example-container">
                                <h2>{{tableTitle[9].title}}</h2>
                                <button mat-stroked-button color="primary" [disabled]="checkIfView()" (click)="addTask(table9)"><mat-icon>add_circle</mat-icon></button>
                                <button mat-stroked-button color="primary" [disabled]="checkIfView()" (click)="removeAllTask(table9)">Remove all tasks </button>
                                <button mat-stroked-button color="primary" [disabled]="checkIfView()" (click)="updateTableTitle(table9,false)">Edit Table title </button>
                                <div cdkDropList [cdkDropListData]="tableNine" class="example-list" (cdkDropListDropped)="drop($event)">
                                    <div class="example-box" [style.backgroundColor]="item.color" *ngFor="let item of tableNine" cdkDrag [cdkDragDisabled]="checkIfView()">
                                        <button class="buttonPriority" [disabled]="checkIfView()" mat-stroked-button [style.backgroundColor]="item.priority" *ngIf="checkPrio(item.priority)">{{checkPrio(item.priority)}}</button><br>
                                        <button class="buttonList" [disabled]="checkIfView()" mat-stroked-button color="primary" (click)="editTask(item.title,item.description,item.priority,item.color,item.endDate,table9,item.user)">Task title: {{item.title}}</button>
                                        <button class="buttonRemove" [disabled]="checkIfView()" mat-stroked-button color="primary" (click)="removeTask(item.title,table9)"><mat-icon>delete</mat-icon></button><br>
                                        <div *ngIf="settingShare" class="choiceUser">
                                            <form (ngSubmit)="choiceUserForTask(choiceUser.value.user,table9,item.title)" #choiceUser="ngForm">
                                                <mat-form-field>
                                                    <mat-label [ngClass]="checkShare(item.user,projectName)?'share':'dontShare'">{{choiceText(item.user)}} </mat-label>
                                                    <mat-select [disabled]="checkIfView()" name="user" ngModel>
                                                        <mat-option value="-">-</mat-option>
                                                        <div *ngFor="let friend of myFriend">
                                                            <div *ngIf="checkAccept(friend.friendsEmail)">
                                                                <mat-option *ngIf="checkShare(friend.friendsEmail,projectName)" value={{friend.friendsEmail}}>{{inreplece(friend.friendsEmail)}}</mat-option>
                                                            </div>
                                                        </div>
                                                    </mat-select>
                                                </mat-form-field>
                                                <button type="submit" [disabled]="checkIfView()" class="buttonChoice" mat-stroked-button color="primary" [disabled]="choiceUser.invalid">Select!</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="checkIfDelete()">
                    <h1>Sorry, you can't access this kanban project anymore.</h1>
                    {{clear()}}
                </div>
            </mat-sidenav-content>
        </mat-sidenav-container>
    </div>
</div>