<button mat-stroked-button color="primary" (click)="logout()">LOGOUT</button>
<button mat-stroked-button color="primary" (click)="saveChanges()">SAVE</button>
<button mat-stroked-button color="primary" (click)="cancelChanges()">CANCEL</button>
<div *ngFor="let user of user| async">
    <h1> Welcome</h1>
    <h3> Your email: {{user.email}}</h3>
    <p *ngIf="!verifyEmail">please verify your email</p>
    <div cdkDropListGroup>
        <div class="example-container">
            <h2>To </h2>
            <button mat-stroked-button color="primary" (click)="addTo()">add To</button>
            <div cdkDropList [cdkDropListData]="toTable" class="example-list" (cdkDropListDropped)="drop($event)">
                <div class="example-box" *ngFor="let item of toTable" cdkDrag>
                    <h1>{{item.title}}</h1>
                </div>
            </div>
        </div>

        <div class="example-container">
            <h2>Do</h2>
            <button mat-stroked-button color="primary" (click)="addDo()">add Do</button>
            <div cdkDropList [cdkDropListData]="doTable" class="example-list" (cdkDropListDropped)="drop($event)">
                <div class="example-box" *ngFor="let item of doTable" cdkDrag>
                    <h1>{{item.title}}</h1>
                </div>
            </div>
        </div>

        <div class="example-container">
            <h2>Done</h2>
            <button mat-stroked-button color="primary" (click)="addDone()">add Done</button>
            <div cdkDropList [cdkDropListData]="doneTable" class="example-list" (cdkDropListDropped)="drop($event)">
                <div class="example-box" *ngFor="let item of doneTable" cdkDrag>
                    <h1>{{item.title}}</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="verifyEmail">
    <h1> Thank you for verifying your email </h1>
    <p> Site under construction </p>
</div>