<button mat-stroked-button color="primary" class="button" [ngClass]="logClicked?'mat-flat-button':'mat-stroked-button'" (click)="logs()">LOGS</button>
<button mat-stroked-button color="primary" class="button" [ngClass]="userSettingClicked?'mat-flat-button':'mat-stroked-button'" (click)="settings()">USER SETTINGS</button>
<button mat-stroked-button color="primary" class="button" [ngClass]="kanbanClicked?'mat-flat-button':'mat-stroked-button'" (click)="dashboard()">Kanban table</button>
<button mat-stroked-button color="primary" class="button" (click)="logout()">LOGOUT</button>