.container {
    text-align: center;
    min-height: 100%;
    background: rgb(60, 60, 60);
    margin-top: -21px;
    color: white;
}

h1 {
    padding-top: 50px;
}

p {
    opacity: 0.5;
}

.button {
    height: 30px;
    border: 1px solid black;
}

.button:hover {
    cursor: pointer;
    background: black;
    color: white;
}

.return-button {
    border: none;
    background: none;
    color: blue;
    text-decoration: underline;
}

.return-button:hover {
    cursor: pointer;
}